<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'styleIndex.css')}}">
    <title>Web App</title>
</head>
<body>
    <form action="/" method="POST" style="margin: 20%;">
        <div class="form-group">
            <label for="exampleFormControlInput1">Key Words</label>
            <input type="text" name="keywords" class="form-control" id=" keywords" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Language</label>
            <select class="form-control" name="language" id="language">
                <option>fr</option>
                <option>en</option>
                <option>ar</option>
                <option>de</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Number of ressources to scrape</label>
            <select class="form-control" name="nbr" id="nbr">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
            </select>
        </div>
        <button class="btn btn-primary" style="color: #000;background-image: linear-gradient(45deg, #00adb5,#28385b);border-color: #000;" type="submit">Get Contacts</button>
    </form>
    <canvas style="z-index: -1;opacity: 0.5;" id="atoms"></canvas>
    <script src="{{url_for('static', filename = 'app2.js')}}"></script>
</body>
</html>